:host {
  margin-top: 150px;
}

.top,
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-bottom: 80px;

  h2 {
    font-size: 2.8rem;
  }

  .block {
    color: #6a737d;
    font-size: 1.4rem;

    h4 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    span,
    a {
      display: block;
      white-space: nowrap;
      color: inherit;
      line-height: 40px;
    }

    img {
      height: 20px;
    }
  }
}

.bottom {
  background: #f8f8f8;
  height: 70px;
  line-height: 70px;
  font-size: 1.2rem;
  color: #616161;

  .container {
    display: flex;
    justify-content: space-between;

    .right {
      font-size: 2rem;

      a {
        color: inherit;
      }
    }
  }
}