:host {
  margin-top: 150px;
}

.top,
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  margin-bottom: 80px;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }

  .logo-container {
    @media screen and (max-width: 992px) {
      grid-column: span 3;
    }

    @media screen and (max-width: 650px) {
      grid-column: span 1;
    }

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
      margin-bottom: 28px;

      h2 {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        font-size: 2.4rem;
        line-height: 48px;
        padding: 0 16px;
        cursor: pointer;
        outline: 0;
        -webkit-tap-highlight-color: transparent;
        user-select: none;

        .web {
          background-color: #000;
          color: #fff;
          padding: 0 7px;
          margin-left: 5px;
          border-radius: 3px;
        }
      }

      img {
        height: 48px;

        &:focus {
          outline: 0;
        }
      }
    }
    .kk-logo {
      img {
        width: clamp(0px, 100%, 300px);
      }
    }
  }

  .block {
    color: #6a737d;
    font-size: 1.4rem;

    .block-title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    span,
    a {
      display: block;
      white-space: nowrap;
      color: inherit;
      line-height: 40px;
    }

    img {
      height: 20px;
    }
  }
}

.bottom {
  background: #f8f8f8;
  padding: 20px 0;
  font-size: 1.2rem;
  color: #616161;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      line-height: 1.5;
    }

    .right {
      font-size: 2rem;

      a {
        color: inherit;
      }
    }
  }
}
