<div class="container">
  <div class="footerblock data">
    <h4>Rólunk</h4>
    <ul>
      <li>5000 Szolnok, Tisza park 1.</li>
      <li>Telefon: 56/514-953; 20/540-4896</li>
      <li>E-mail: titkar@verseghy-szolnok.sulinet.hu</li>
      <li>OM azonosító: 035992</li>
      <li>Honlap verzió: v0.1.1</li>
    </ul>
  </div>
  <div class="footerblock links">
    <h4>Linkek</h4>
    <ul>
      <li><a [routerLink]="'/archive'">Archívum</a></li>
      <li><a href class="TEMP-disabled-not-implemented-link">Impresszum</a></li>
      <li><a href class="TEMP-disabled-not-implemented-link">Oldaltérkép</a></li>
      <li><a href="https://verseghy-gimnazium.net/">Vissza a régi oldalra</a></li>
    </ul>
  </div>
  <div class="footerblock ekreta">
    <h4>KRÉTA</h4>
    <ul>
      <li>
        <a href="https://klik035992001.e-kreta.hu/Adminisztracio/Login" target="_blank" rel="noopener noreferrer">
          <img alt="" src="assets/icons/kreta2.png" />
        </a>
      </li>
      <li>
        <a href="https://eugyintezes.e-kreta.hu/" target="_blank" rel="noopener noreferrer">
          <img alt="" src="assets/icons/eugy.png" width="120" />
        </a>
      </li>
    </ul>
  </div>
</div>
