<!--<div class="container">-->
<!--  <div class="footerblock data">-->
<!--    <h4>Rólunk</h4>-->
<!--    <ul>-->
<!--      <li>5000 Szolnok, Tisza park 1.</li>-->
<!--      <li>Telefon: 56/514-953; 20/540-4896</li>-->
<!--      <li>E-mail: titkar@verseghy-szolnok.sulinet.hu</li>-->
<!--      <li>Honlap észrevételek, visszajelzések: contact@zoltanszepesi.com</li>-->
<!--      <li>OM azonosító: 035992</li>-->
<!--      <li (click)="devClickHandler()">Honlap verzió: {{ appVersion }}</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="footerblock links">-->
<!--    <h4>Linkek</h4>-->
<!--    <ul>-->
<!--      <li><a [routerLink]="'/archive'">Archívum</a></li>-->
<!--      <li><a href class="TEMP-disabled-not-implemented-link">Impresszum</a></li>-->
<!--      <li><a href class="TEMP-disabled-not-implemented-link">Oldaltérkép</a></li>-->
<!--      <li><a href="https://verseghy-gimnazium.net/">Vissza a régi oldalra</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="footerblock ekreta">-->
<!--    <h4>KRÉTA</h4>-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="https://klik035992001.e-kreta.hu/Adminisztracio/Login" target="_blank" rel="noopener noreferrer">-->
<!--          <img alt="" src="assets/icons/kreta2.png" />-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="https://eugyintezes.e-kreta.hu/" target="_blank" rel="noopener noreferrer">-->
<!--          <img alt="" src="assets/icons/eugy.png" width="120" />-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="top">
  <h2>Verseghy Ferenc Gimnázium</h2>
  <div class="block">
    <h4>Rólunk</h4>
    <span>5000 Szolnok, Tisza park 1.</span>
    <span>Telefon: 56/514-953; 20/540-4896</span>
    <span>E-mail: titkar@verseghy-szolnok.sulinet.hu</span>
    <span>OM azonosító: 035992</span>
    <span (click)="devClickHandler()">Honlap verzió: {{ appVersion }}</span>
  </div>
  <div class="block">
    <h4>Linkek</h4>
    <a [routerLink]="'/archive'">Archívum</a>
    <a href class="TEMP-disabled-not-implemented-link">Impresszum</a>
    <a href class="TEMP-disabled-not-implemented-link">Oldaltérkép</a>
    <a href="https://verseghy-gimnazium.net/">Vissza a régi oldalra</a>
  </div>
  <div class="block">
    <h4>KRÉTA</h4>
    <a href="https://klik035992001.e-kreta.hu/Adminisztracio/Login" target="_blank" rel="noopener noreferrer">
      <img alt="" src="assets/icons/kreta2.png" />
    </a>
    <a href="https://eugyintezes.e-kreta.hu/" target="_blank" rel="noopener noreferrer">
      <img alt="" src="assets/icons/eugy.png" />
    </a>
  </div>
</div>
<div class="bottom">
  <div class="container">
    <span>Honlap észrevételek, visszajelzések: contact@zoltanszepesi.com</span>
    <div class="right">
      <a href="#">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      </a>
    </div>
  </div>
</div>
