<div class="container">
  <div class="footerblock data">
    <h4>Rólunk</h4>
    <ul>
      <li>5000 Szolnok, Tisza park 1.</li>
      <li>Telefon: 56/514-953; 20/540-4896</li>
      <li>E-mail: titkar@verseghy-szolnok.sulinet.hu</li>
      <li>OM azonosító: 035992</li>
    </ul>
  </div>
  <div class="footerblock links">
    <h4>Linkek</h4>
    <ul>
      <li><a [routerLink]="'/archive'">Archívum</a></li>
      <li>Impresszum</li>
      <li>Oldaltérkép</li>
      <li><a href="https://verseghy-gimnazium.net/">Vissza a régi oldalra</a></li>
    </ul>
  </div>
  <div class="footerblock ekreta">
    <h4>KRÉTA</h4>
    <ul>
      <li>
        <a href="https://klik035992001.e-kreta.hu/Adminisztracio/Login" target="_blank" rel="noopener noreferrer">
          <img alt="" src="assets/icons/kreta2.png" />
        </a>
      </li>
      <li>
        <a href="https://eugyintezes.e-kreta.hu/" target="_blank" rel="noopener noreferrer">
          <img alt="" src="assets/icons/eugy.png" width="120" />
        </a>
      </li>
    </ul>
  </div>
  <!--
    <div class="footerblock subscribe">
      <h4>Hírlevél</h4>
      <p>Iratkozz fel hírlevelünkre, hogy értesítést kapj a téged érdeklő cikkekről!</p>
      <input
        #emailInput
        [(ngModel)]="email"
        class="emailInput"
        name="EMAIL"
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
        placeholder="email@email.com"
        type="email"
        value=""
      />
      <button
        (click)="subscribeToNewsletter()"
        [disabled]="subscribeButtonDisabled"
        [ngClass]="{ done: subscribeButtonDone }"
        class="subscribeButton"
      >
        <span *ngIf="buttonTextVisible" class="buttonText">Feliratkozás</span>
        <fa-icon *ngIf="checkMarkVisible" [icon]="['fas', 'check']"></fa-icon>
        <div *ngIf="spinnerVisible" class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </button>
    </div>
  -->
</div>
