$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

:host {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content repeat(5, 140px);
  grid-auto-flow: column;
  grid-gap: 20px;

  @include respond-below(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px repeat(5, 140px) 50px repeat(5, 140px);
  }

  .menu-header {
    box-sizing: border-box;
    text-align: center;
  }

  .menu {
    box-sizing: border-box;
  }

  @include respond-above(xl) {
    width: 1600px;
  }

  @include respond-below(xs) {
    width: 100vw;
  }

  @include respond-between(xs, sm) {
    width: 576px;
  }

  @include respond-between(sm, md) {
    width: 768px;
  }

  @include respond-between(md, lg) {
    width: 992px;
  }

  @include respond-between(lg, xl) {
    width: 1200px;
  }
}

.text {
  width: 60%;
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  background-color: white;

  @include respond-below(sm) {
    width: 90%;
  }
}

h1 {
  grid-column: span 2;
  background-color: red;
}

h2 {
  line-height: 50px;
}
