$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px,
);

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

:host {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, min-content);
  grid-auto-flow: column;
  grid-column-gap: 20px;

  @include respond-below(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, min-content);
    padding: 20px 8px;
  }
}

.menu-header {
  text-align: center;
  display: block;
  font-size: 2.4rem;
  padding: 15px 20px 10px;
  background-color: hsl(0deg 0% 95%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @include respond-below(sm) {
    margin-top: 20px;
  }
}

.day {
  flex: 1;
  padding: 10px 20px;
  background-color: hsl(0deg 0% 95%);

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.day-name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

h2 {
  grid-column: span 2;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 25px;

  @include respond-below(sm) {
    grid-column: span 1;
    font-size: 3.4rem;
    margin-bottom: 5px;
  }
}

.food {
  display: block;
  margin: 2px 0;
}
