<div class="content" *ngIf="post.type === 0" [ngStyle]="{'background-color': post.color}" [ngClass]="{'dark' : post.backgroundDark}">
  <div class="label-container">
    <app-label *ngFor="let label of post.labels" [ngStyle]="{'background-color': label.color}" [ngClass]="{'dark' : label.backgroundDark}"
      [label]="label"></app-label>
  </div>
  <p class="title" [routerLink]="['/posts/'+post.id]">{{ post.title }}</p>
  <p class="description">{{ post.description }}</p>
  <div class="bottom">
    <img [src]="post.author.image" alt="" />
    <p>{{ post.date }}</p>
  </div>
</div>
<div class="content" *ngIf="post.type === 1">
  <img [src]="post.index_image" alt="" />
  <p [routerLink]="['/posts/'+post.id]">{{ post.title }}</p>
  <p>{{ post.description }}</p>
  <img [src]="post.author.image" alt="" />
  <p>{{ post.date }}</p>
</div>
<div class="content" *ngIf="post.type === 2">
  <img [src]="post.index_image" alt="" />
  <p [routerLink]="['/posts/'+post.id]">{{ post.title }}</p>
  <p>{{ post.description }}</p>
  <img [src]="post.author.image" alt="" />
  <p>{{ post.date }}</p>
</div>
