<div class="content" *ngIf="post.type === 0" [ngStyle]="{'background-color': post.backgroundColor}" [ngClass]="{'dark' : post.isDark}">
  <div class="label-container">
    <span *ngFor="let label of post.labels" class="label" [ngStyle]="{'background-color': label.backgroundColor}" [ngClass]="{'dark' : label.isDark}">{{label.title}}</span>
  </div>
  <p class="title" [routerLink]="['/posts/'+post.id]">{{post.title}}</p>
  <p class="description">{{post.description}}</p>
  <div class="bottom">
    <img class="authorimg" [src]="post.authorImage" alt="" />
    <p>{{post.dateAgo}}</p>
  </div>
</div>
<div class="content" *ngIf="post.type === 1" [ngStyle]="{'background-color': post.backgroundColor}" [ngClass]="{'dark' : post.isDark}">
  <img class="postimg" [src]="post.image" alt=""/>
  <div class="label-container">
    <span *ngFor="let label of post.labels" class="label" [ngStyle]="{'background-color': label.backgroundColor}" [ngClass]="{'dark' : label.isDark}">{{label.title}}</span>
  </div>
  <p class="title" [routerLink]="['/posts/'+post.id]">{{post.title}}</p>
  <p class="description">{{post.description}}</p>
  <div class="bottom">
    <img class="authorimg" [src]="post.authorImage" alt="" />
    <p>{{post.dateAgo}}</p>
  </div>
</div>
<div class="content type2" *ngIf="post.type === 2" [ngStyle]="{'background-color': post.backgroundColor}" [ngClass]="{'dark' : post.isDark}">
  <img class="bgimg" [src]="post.image" alt=""/>
  <div class="label-container">
    <span *ngFor="let label of post.labels" class="label" [ngStyle]="{'background-color': label.backgroundColor}" [ngClass]="{'dark' : label.isDark}">{{label.title}}</span>
  </div>
  <p class="title" [routerLink]="['/posts/'+post.id]">{{post.title}}</p>
  <p class="description">{{post.description}}</p>
  <div class="bottom">
    <img class="authorimg" [src]="post.authorImage" alt="" />
    <p>{{post.dateAgo}}</p>
  </div>
</div>
