<div class="container" mdc-typography>
  <h3 mdcHeadline5>A verseny véget ért</h3>
  <p>Köszönjük, hogy részt vettetek a versenyen.</p>

  <p><strong>A feladatsor alkotóközössége:</strong></p>
  <ul>
    <li>Algayné Varga Éva (VFG)</li>
    <li>Balázs Ildikó (VFG)</li>
    <li>Baloghné Cseh Judit (VKG)</li>
    <li>Dénes Gergő (VFG)</li>
    <li>Drávucz Anita (VFG)</li>
    <li>Fekete Bálint (VFG)</li>
    <li>Forgács Kata (VFG)</li>
    <li>Gál Bence (VKG)</li>
    <li>Kiss Béla (VFG)</li>
    <li>Lapu Béla (VFG)</li>
    <li>Medvegy Gábor (VKG)</li>
    <li>Pécsi István (VFG)</li>
    <li>Pécsiné Röhri Zsuzsanna (VFG)</li>
    <li>Pogány Gyula (VFG)</li>
    <li>Somogyi  Tamás (VFG)</li>
    <li>Szarvas Natália (VFG)</li>
    <li>Szepesi Zoltán (BME)</li>
    <li>Veres Dénes (VFG)</li>
  </ul>
</div>
