<div class="container">
  <div class="author">
    <img src="/assets/modules/misc/components/authors/00.jpeg">
    <div class="links">
      <h3 class="name">Szepesi Zoltán</h3>
      <p>GitHub: https://github.com/TwoDCube</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">Link</a></p>
      <p>CodersRank: <a href="">link</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
        non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
        urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
        sodales risus volutpat sollicitudin. </p>
    </div>
  </div>
  <div class="author">
    <img src="/assets/modules/misc/components/authors/00.jpeg">
    <div class="links">
      <h3 class="name">Szepesi Zoltán</h3>
      <p>GitHub: https://github.com/TwoDCube</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">Link</a></p>
      <p>CodersRank: <a href="">link</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
        non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
        urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
        sodales risus volutpat sollicitudin. </p>
    </div>
  </div>
  <div class="author">
    <img src="/assets/modules/misc/components/authors/00.jpeg">
    <div class="links">
      <h3 class="name">Szepesi Zoltán</h3>
      <p>GitHub: https://github.com/TwoDCube</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">Link</a></p>
      <p>CodersRank: <a href="">link</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
        non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
        urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
        sodales risus volutpat sollicitudin. </p>
    </div>
  </div>
  <div class="author">
    <img src="/assets/modules/misc/components/authors/00.jpeg">
    <div class="links">
      <h3 class="name">Szepesi Zoltán</h3>
      <p>GitHub: https://github.com/TwoDCube</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">Link</a></p>
      <p>CodersRank: <a href="">link</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
        non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
        urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
        sodales risus volutpat sollicitudin. </p>
    </div>
  </div>
  <div class="author">
    <img src="/assets/modules/misc/components/authors/00.jpeg">
    <div class="links">
      <h3 class="name">Szepesi Zoltán</h3>
      <p>GitHub: https://github.com/TwoDCube</p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">Link</a></p>
      <p>CodersRank: <a href="">link</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
        non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
        urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
        sodales risus volutpat sollicitudin. </p>
    </div>
  </div>
</div>
