<div class="background-image">
  <div class="background">
    <img [src]="(post | async)?.index_image.url" alt="">
  </div>
</div>
<div class="container">
  <div class="share-container">
    <div class="share">
      <div class="share-facebook">
        <img src="/assets/svg/facebook.svg" alt="" />
      </div>
      <div class="share-twitter">
        <img src="/assets/svg/twitter.svg" alt="" />
      </div>
      <div class="share-reddit">
        <img src="/assets/svg/reddit.svg" alt="" />
      </div>
      <div class="share-pinterest">
        <img src="/assets/svg/pinterest.svg" alt="" />
      </div>
      <div class="share-mail">
        <img src="/assets/svg/mail.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="post-header">
        <div class="label-container">
          <app-label *ngFor="let label of (post | async)?.labels" [ngStyle]="{'background-color': label.color}" [ngClass]="{'dark' : label.isDark}"
            [label]="label"></app-label>
        </div>
        <h1>{{(post | async)?.title}}</h1>
        <div class="meta">
          <div class="author">
            <img class="author-image" [src]="(post | async)?.author.image.url" alt="">
            <span>{{(post | async)?.author.name}}</span>
          </div>
          <div class="date">
            <i class="material-icons">date_range</i>
            <span>{{(post | async)?.date}}</span>
          </div>
        </div>
      </div>
      <div class="post-content">
        {{(post | async)?.content}}
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="recent-posts">

    </div>
  </div>
</div>