.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: white;
  font-size: 16px;
  color: #464646;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.footerblock{
  /*background-color: #009cff;*/
  margin: 20px 40px 20px 40px;
  max-width: 300px;
}

.footerblock ul{
  list-style: none;
}

ul li{
  border-bottom: 1px solid #cdcdcd;
  line-height: 2.5;
}

ul li:last-child{
  border-bottom: none;
}

input {
  border: 1px solid;
  padding: 6px;
  width: 286px;
  margin: 15px 0 5px 0;
  height: 30px;
  border-radius: 5px;
}

button{
  color: #FFF;
  font-weight: bold;
  background-color: #009cff;
  height: 40px;
  width: 300px;
  margin: 0 0 10px 0;
  border: 1px solid white;
  border-radius: 5px;
}

h4{
  font-size: 22px;
  margin-bottom: 10px;
  color: #0f0f0f;
}

@media (max-width: 906px) {
  .container{
    justify-content: flex-start;
  }
  .footerblock{
    /*background-color: #009cff;*/
    margin: 20px 50px 20px 50px;
    max-width: 300px;
  }

}
