<div class="container">
  <div class="footerblock data">
    <h4>Rólunk</h4>
    <ul>
      <li>5000 Szolnok, Tisza park 1.</li>
      <li>Telefon: 56/514-953; 20/540-4896</li>
      <li>E-mail: titkar@verseghy-szolnok.sulinet.hu</li>
      <li>OM azonosító: 035992</li>
    </ul>
  </div>
  <div class="footerblock links">
    <h4>Linkek</h4>
    <ul>
      <li>Archívum</li>
      <li>Impresszum </li>
      <li>Oldaltérkép</li>
    </ul>
  </div>
  <div class="footerblock subscribe">
    <h4>Hírlevél</h4>
    <p>Iratkozz fel hírlevelünkre, hogy értesítést kapj a téged érdeklő cikkekről!</p>
    <input type="email" value="" name="EMAIL" class="emailInput" placeholder="email@email.com" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
      #emailInput>
    <button class="subscribeButton" (click)="subscribeToNewsletter()" #subscribeButton>
      <span class="buttonText" #buttonText>Feliratkozás</span>
      <fa-icon [icon]="['fas', 'check']" *ngIf="checkMarkVisible" #checkMark></fa-icon>
      <div hidden class="spinner" #spinner>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>
  </div>
</div>
