<div
  class="content"
  [ngStyle]="{ 'background-color': 'hsl(' + getHueFromHEXColor(contrastedPost.color) + ' 79% 91%)' }"
  [routerLink]="['/posts/' + contrastedPost.id]"
>
  <img class="index-img" [src]="contrastedPost.index_image" alt="" />
  <div class="label-container">
    <verseghy-label
      *ngFor="let label of contrastedPost.labels"
      [label]="label"
      [ngClass]="{ dark: label.backgroundDark }"
      [ngStyle]="{ 'background-color': label.color }"
    ></verseghy-label>
  </div>
  <p class="title">{{ contrastedPost.title }}</p>
  <p class="description" *ngIf="contrastedPost.description">{{ contrastedPost.description }}</p>
  <div class="bottom">
    <img *ngIf="contrastedPost.author.image" class="author-img" [src]="contrastedPost.author.image" alt="" />
    <p>{{ contrastedPost.author.name }}</p>
    <p>{{ formatDate(contrastedPost.date) }}</p>
  </div>
  <div class="focus-border"></div>
</div>
