:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  overflow-y: scroll;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.pacman-middle {
  margin: 50px auto;
  min-height: 50px;
}
