<div class="container">
  <div class="right">
    <img class="logo-image" src="assets/logo.svg" alt="" routerLink="/">
    <h1 class="title" routerLink="/">Verseghy</h1>
  </div>
  <div class="middle" [ngClass]="{'open' : drawer}">
    <div class="menu-header">
      <i class="material-icons menu-close" (click)="drawer = !drawer">close</i>
    </div>
    <div class="menu">
      <a href="" routerLink="/" class="active" (click)="sidenav.close()">Főoldal</a>
    </div>
    <div class="menu" (click)="submenu1 = !submenu1; sidenav.close()" [ngClass]="{'open' : submenu1}">
      <a>Menza</a>
      <i class="material-icons arrow">expand_more</i>
      <div class="submenu">
        <a href="">Étlap</a>
        <a href="">Befizetés</a>
      </div>
    </div>
    <div class="menu">
      <a href="" routerLink="/events" (click)="sidenav.close()">Események</a>
    </div>
    <div class="menu">
      <a href="" routerLink="/misc/archive" (click)="sidenav.close()">Archívum</a>
    </div>
    <div class="menu" (click)="submenu2 = !submenu2; sidenav.close()" [ngClass]="{'open' : submenu2}">
      <span>Iskoláról</span>
      <i class="material-icons arrow">expand_more</i>
      <div class="submenu">
        <a href="">Történet</a>
        <a href="">Munkatársak</a>
        <a href="">Osztályok</a>
        <a href="">Dokumentumok</a>
        <a href="">Fejlesztők</a>
      </div>
    </div>
  </div>
  <div class="left">
    <i class="material-icons">search</i>
    <i class="material-icons menu-toggle" (click)="drawer = !drawer">menu</i>
  </div>
</div>
<div class="backdrop" (click)="drawer = !drawer" [ngClass]="{'open' : drawer}"></div>