:host {
  height: 64px;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
  z-index: 10;
}

.container {
  display: flex;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.right {
  flex: 1;
  display: flex;
}

.logo-image {
  height: 48px;
  padding: 8px 0;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.title {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 24px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin: auto 0;
}

.menu-header {
  display: none;
}

.menu {
  display: inline-block;
  color: #000;
  line-height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 0 3px;
}

.menu .active {
  color: #009cff;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu > a,
.menu > span {
  display: block;
  padding: 0 15px;
  transition: background-color 300ms;
}

.menu:hover > a,
.menu:hover > span {
  background-color: #eceff1
}

.menu i {
  display: none;
}

.submenu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  transition: opacity 300ms;
  min-width: 140px;
}

.menu:hover .submenu {
  opacity: 1;
  pointer-events: all;
}

.submenu a {
  display: block;
  padding: 0 15px;
}

.submenu a:hover {
  background-color: #eceff1;
  color: #009cff;
}

i {
  width: 48px;
  height: 48px;
  margin: 8px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.menu-toggle {
  display: none;
}

.backdrop {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  :host {
    height: 56px;
  }

  .container {
    padding-right: 8px;
  }

  .logo-image {
    padding: 4px 0;
  }

  .title {
    line-height: 56px;
    padding: 0 8px;
    font-size: 18px;
  }

  .middle {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    width: 256px;
    max-width: calc(100% - 56px);
    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
    z-index: 10;
    transform: translate3d(256px,0,0);
    transition: transform .3s cubic-bezier(0.4, 0.0, 1, 1);
    overflow-y: scroll;
  }

  .middle.open {
    transform: translate3d(0,0,0);
    transition: transform .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .menu-header {
    display: block;
    border-bottom: 1px solid #ccc
  }

  .menu-close {
    margin: 4px;
  }

  .middle .menu {
    display: block;
    margin: 0;
    line-height: 48px;
    padding: 28xp;
    position: relative;
  }

  .middle a,
  .middle span {
    padding-left: 32px;
  }

  .menu i {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    transition: transform .3s;
  }

  .menu.open i {
    transform: rotate3d(1,0,0,180deg);
  }

  .submenu {
    position: static;
    display: none;
    background: #009cff;
    box-shadow: none;
  }

  .menu.open:hover .submenu,
  .menu.open .submenu {
    display: block;
    opacity: 1;
  }

  .menu:hover .submenu {
    display: none;
  }

  .submenu a {
    color: #fff;
  }

  .submenu a:hover {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
  }

  i {
    margin: 4px 0;
  }

  .menu-toggle {
    display: inline-block;
  }

  .backdrop.open {
    opacity: 1;
    pointer-events: all;
  }
}