.container {
  max-width: 1200px;
  padding: 0 20px 5px;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  margin: 20px auto 0;
}

.card,
.sidebar {
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  padding: 40px 40px 48px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-bottom: 20px;
}

.sidebar {
  position: sticky;
  top: 15px;
  padding: 30px 30px;
}

.card-title {
  grid-column: span 2;
}

.item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
}

.item img {
  grid-row: span 3;
}

.item .name {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.item .title {
  font-style: italic;
}

.item .subject {
  color: #999;
}

.item .description {
  grid-column: span 2;
}

.item li {
  list-style: none;
  margin: 5px 0;
  font-size: 14px;
}

.sidebar span {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sidebar span.active {
  color: #009cff;
}

@media screen and (max-width: 992px) {
  .card {
    grid-template-columns: 1fr;
  }

  .card-title {
    grid-column: span 1;
  }

  .sidebar {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
}
