<div class="container">
  <div class="content-container">
    <div class="content">
      <div #header class="card" *ngFor="let categoryId of [0, 1, 2, 3, 4, 5, 6]">
        <h2 class="card-title">{{ categories[categoryId] }}</h2>
        <div *ngFor="let colleague of (colleagues | async)[categoryId]" class="item">
          <img alt="" [src]="colleague.image" /> <span class="name">{{ colleague.name }}</span>
          <span class="title">{{ colleague.roles }}</span> <span class="subject">{{ colleague.subjects }}</span>
          <ul class="description">
            <li *ngFor="let award of (colleague.awards ? colleague.awards : '').split('\n')">{{ award }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-container">
    <div class="sidebar">
      <span (click)="clickHandler(0)" [ngClass]="{ active: currentScrollPosition === 0 }">Vezetőség</span>
      <span (click)="clickHandler(1)" [ngClass]="{ active: currentScrollPosition === 1 }">Tanárok</span>
      <span (click)="clickHandler(2)" [ngClass]="{ active: currentScrollPosition === 2 }">Óraadók</span>
      <span (click)="clickHandler(3)" [ngClass]="{ active: currentScrollPosition === 3 }"
        >Gazdasági-, adminisztratív- és technikai dolgozóink</span
      >
      <span (click)="clickHandler(4)" [ngClass]="{ active: currentScrollPosition === 4 }">Konyhai dolgozók</span>
      <span (click)="clickHandler(5)" [ngClass]="{ active: currentScrollPosition === 5 }">Takarítók</span>
      <span (click)="clickHandler(6)" [ngClass]="{ active: currentScrollPosition === 6 }">Karbantartók</span>
    </div>
  </div>
</div>
