<div class="container">
  <div class="content-container">
    <div class="content">
      <div #header class="card">
        <h2 class="card-title">Vezetőség</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Tanárok</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Óraadók</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Gazdasági-, adminisztratív- és technikai dolgozóink</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Konyhai dolgozók</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Takarítók</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
      <div #header class="card">
        <h2 class="card-title">Karbantartók</h2>
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6]" class="item">
          <img alt="" src="/assets/modules/misc/components/colleagues/100x150.png" /> <span class="name">Lorem Ipsum</span>
          <span class="title">Igazgatóhelyettes</span> <span class="subject">matek - fizika</span>
          <ul class="description">
            <li>"Bonis Bona - Kiváló versenyfelkészítő" díj, (2015.)</li>
            <li>"A Magyar Kémia Oktatásért" Díj, (2013.)</li>
            <li>Szolnok Város Pedagógiai Díja, (2010.)</li>
            <li>"Pro Talento" Díj, (2008.)</li>
            <li>Szent-Györgyi Albert Emlékérem, (2006.)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-container">
    <div class="sidebar">
      <span (click)="clickHandler(0)" [ngClass]="{ active: currentScrollPosition === 0 }">Vezetőség</span>
      <span (click)="clickHandler(1)" [ngClass]="{ active: currentScrollPosition === 1 }">Tanárok</span>
      <span (click)="clickHandler(2)" [ngClass]="{ active: currentScrollPosition === 2 }">Óraadók</span>
      <span (click)="clickHandler(3)" [ngClass]="{ active: currentScrollPosition === 3 }"
        >Gazdasági-, adminisztratív- és technikai dolgozóink</span
      >
      <span (click)="clickHandler(4)" [ngClass]="{ active: currentScrollPosition === 4 }">Konyhai dolgozók</span>
      <span (click)="clickHandler(5)" [ngClass]="{ active: currentScrollPosition === 5 }">Takarítók</span>
      <span (click)="clickHandler(6)" [ngClass]="{ active: currentScrollPosition === 6 }">Karbantartók</span>
    </div>
  </div>
</div>
