/* You can add global styles to this file, and also import other style files */

$mdc-theme-primary: #1a73e8; // primary color example
$mdc-theme-secondary: #388e3c; // secondary color example

@import "~@angular-mdc/theme/material";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

mjx-container:focus {
  outline: 0;
}
