:host {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  margin-top: 50px;
  z-index: 10;
}

a {
  display: inline-block;
  color: #000;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;

  @media screen and (max-width: 972px) {
    flex: 1;
  }

  &.active {
    border-bottom: 2px inset #009cff;
    color: #009cff;
  }
}