:host {
  overflow-y: scroll;
  display: block;
  flex: 1;
  position: relative;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: 'Lato';
  font-size: 24px;
  margin-left: 10px;
  font-weight: 500;
  margin-top: 20px;
}