<mat-card *ngFor="let post of posts; trackBy: trackByFn" (click)="_onClick(post.id)">
  <mat-card-content matRipple>
    <mat-card-header>
      <img mat-card-avatar class="card-avatar" [src]="post.authorImage" alt="" />
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.dateAgo}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.image" alt="" />
    <p>{{post.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/posts/'+post.id]" mat-button color="primary">TOVÁBB</button>
  </mat-card-actions>
</mat-card>
