<div
  *ngIf="contrastedPost.type === '0'"
  [ngStyle]="{ 'background-color': 'hsl(' + getHueFromHEXColor(contrastedPost.color) + ' 79% 91%)' }"
  [routerLink]="['/posts/' + contrastedPost.id]"
  class="content"
>
  <div class="label-container">
    <span
      *ngFor="let label of contrastedPost.labels"
      [ngClass]="{ dark: label.backgroundDark }"
      [ngStyle]="{ 'background-color': label.color }"
      class="label"
      >{{ label.name }}</span
    >
  </div>
  <p class="title">{{ contrastedPost.title }}</p>
  <p class="description">{{ contrastedPost.description }}</p>
  <div class="bottom">
    <img *ngIf="contrastedPost.author.image" [src]="contrastedPost.author.image" alt="" class="authorimg" />
    <p>{{ contrastedPost.author.name }}</p>
    <p>{{ formatDate(contrastedPost.date) }}</p>
  </div>
  <div class="focus-border"></div>
</div>
<div
  class="content"
  *ngIf="contrastedPost.type === '2'"
  [ngStyle]="{ 'background-color': 'hsl(' + getHueFromHEXColor(contrastedPost.color) + ' 79% 91%)' }"
  [routerLink]="['/posts/' + contrastedPost.id]"
>
  <img class="postimg" [src]="contrastedPost.index_image" alt="" />
  <div class="label-container">
    <span
      *ngFor="let label of contrastedPost.labels"
      class="label"
      [ngStyle]="{ 'background-color': label.color }"
      [ngClass]="{ dark: label.backgroundDark }"
      >{{ label.name }}</span
    >
  </div>
  <p class="title">{{ contrastedPost.title }}</p>
  <div class="bottom">
    <img *ngIf="contrastedPost.author.image" class="authorimg" [src]="contrastedPost.author.image" alt="" />
    <p>{{ contrastedPost.author.name }}</p>
    <p>{{ formatDate(contrastedPost.date) }}</p>
  </div>
  <div class="focus-border"></div>
</div>
<div class="content type2" *ngIf="contrastedPost.type === '1'" [routerLink]="['/posts/' + contrastedPost.id]">
  <div class="bg-image"><img class="bgimg" [src]="contrastedPost.index_image" alt="" /></div>
  <div class="label-container">
    <span
      *ngFor="let label of contrastedPost.labels"
      class="label"
      [ngStyle]="{ 'background-color': label.color }"
      [ngClass]="{ dark: label.backgroundDark }"
      >{{ label.name }}</span
    >
  </div>
  <p class="title">{{ contrastedPost.title }}</p>
  <p class="description">{{ contrastedPost.description }}</p>
  <div class="bottom">
    <img *ngIf="contrastedPost.author.image" class="authorimg" [src]="contrastedPost.author.image" alt="" />
    <p>{{ contrastedPost.author.name }}</p>
    <p>{{ formatDate(contrastedPost.date) }}</p>
  </div>
  <div class="focus-border"></div>
</div>
