<div class="content">
  <h1>A verseny véget ért. Köszönjük, hogy részt vettetek!</h1>
  <div class="problems">
    <span>A feladatsort a Verseghy Ferenc Gimnázium 12.b osztályos tanulói és matematika munkaközösségének tagjai állították össze:</span>
    <span class="name">Balázs Ildikó</span>
    <span class="name">Beviz Zoltán</span>
    <span class="name">Katona Tíra Panna</span>
    <span class="name">Munkácsi Enikő</span>
    <span class="name">Pécsi István</span>
    <span class="name">Pécsiné Röhri Zsuzsanna</span>
    <span class="name">Szepesi Zoltán</span>
  </div>
  <p>
    <span class="bold">Lektorok: </span>Algayné Varga Éva, Balázs Ildikó, Drávucz Anita, Kiss Béla, Lapu Béla, Pécsi István, Pécsiné Röhri Zsuzsanna, Pogány Gyula, Somogyi Tamás, Szarvas Natália, Tekse Marianna, Veres Dénes
  </p>
  <p>
    <span class="bold">Nyelvi lektor: </span>Baráth Márta
  </p>
  <p>
    <span class="bold">Informatikai háttérmunka: </span>Molnár Gábor, Rózsa Tamás, Szepesi Tibor, Szepesi Zoltán
  </p>
</div>