<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" class="container" (swipeleft)="next()" (swiperight)="previous()">
  <div class="content" [@animate]="animate" *ngFor="let post of post$ | async">
    <div class="background">
      <img [src]="post.index_image" alt="" />
    </div>
    <a class="post-content" [routerLink]="['/posts/' + post.id]">
      <div class="text">
        <div class="label-container">
          <verseghy-label
            *ngFor="let label of post.labels"
            [label]="label"
            [ngClass]="{ dark: label.backgroundDark }"
            [ngStyle]="{ 'background-color': label.color }"
          ></verseghy-label>
        </div>
        <h2>{{ post.title }}</h2>
        <p class="description">{{ post.description }}</p>
        <div class="bottom">
          <img *ngIf="post.author.image" [src]="post.author.image" alt="" />
          <p>{{ post.author.name }}</p>
          <p>{{ formatDate(post.date) }}</p>
        </div>
      </div>
    </a>
    <div class="hover"></div>
  </div>
  <div class="nav">
    <i (click)="previous()" class="material-icons">navigate_before</i> <i (click)="next()" class="material-icons">navigate_next</i>
  </div>
</div>
