:host {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
}

.content {
  font-size: 1.6rem;
  font-weight: 300;
  color: #202124;
  line-height: 26px;

  &::ng-deep {
    > p {
      max-width: 650px;
      margin: 0 auto 21px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 50px auto 15px;
      max-width: 650px;
      font-weight: 400;
    }

    .table-container {
      overflow-x: scroll;
      margin: 0 auto 21px;
      white-space: nowrap;
      background: #f7f7f7;
      border-radius: 8px;
      padding: 10px;
      box-sizing: border-box;

      @media screen and (max-width: 1040px) {
        max-width: calc(100vw - 40px) !important;
      }
    }

    table {
      border-collapse: collapse;
    }

    td,
    th {
      padding: 5px;
      border-right: 1px solid #dedede;

      &:last-child {
        border-right: 0;
      }
    }

    tr {
      border-bottom: 1px solid #dedede;

      &:last-child {
        border: 0;
      }
    }

    ul,
    ol {
      max-width: 650px;
      margin: 0 auto;
      list-style-position: outside;
    }

    > ul {
      margin-bottom: 21px;
    }

    li {
      margin-left: 20px;
    }

    li p {
      display: inline-block;
    }

    blockquote {
      background: #f8f8f8;
      border-radius: 8px;
      padding: 20px;
      max-width: 650px;
      margin: 0 auto 21px;
      font-style: italic;
      box-sizing: border-box;

      p ~ p {
        margin-top: 21px;
      }
    }

    img {
      width: 100%;
      height: 100% !important;
      border-radius: 8px;
      display: block;
      margin: 0 auto;
    }
  }
}
