.container {
  margin: 0 auto;
  padding: 0 20px 5px;
  max-width: 1000px;
}

.index-image {
  border-radius: 8px;
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 40px;
  border: 1px solid #efefef;

  @media screen and (max-width: 770px) {
    max-height: 300px;
  }
}

.content {
  position: relative;
  z-index: 3;
  background: #fff;
  margin: 0 auto;
  padding: 20px 60px 50px;
  max-width: 650px;

  @media screen and (max-width: 770px) {
    padding: 16px;
  }
}

.label-container {
  max-width: 650px;
  margin: 30px auto 12px;
}

h1 {
  color: #111111;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 20px;

  @media screen and (max-width: 992px) {
    font-size: 2.4rem;
  }
}

.small-meta {
  max-width: 650px;
  padding-bottom: 20px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;

  img {
    border-radius: 50%;
    grid-row: span 2;
    margin-right: 15px;
    object-fit: cover;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .name {
    text-decoration: none;
    color: inherit;
    margin-right: 15px;
  }

  .date {
    color: #757575;
    white-space: nowrap;
  }
}

.slideshow {
  display: block;
  max-width: 770px;
  margin: 0 auto;
  border-radius: 8px;
  background: #000;
  overflow: hidden;
  border: 1px solid black;
  box-sizing: border-box;
}
