.container {
  margin: 0 auto;
  padding: 0 20px 5px;
  max-width: 1000px;
}

.index-image {
  margin-top: 30px;
  border-radius: 8px;
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;

  @media screen and (max-width: 770px) {
    max-height: 300px;
  }
}

.content {
  position: relative;
  z-index: 3;
  background: #fff;
  margin: 0 auto;
  padding: 20px 60px 50px;
  max-width: 650px;

  @media screen and (max-width: 770px) {
    padding: 16px;
  }
}

.label-container {
  margin-top: 30px;
  margin-bottom: 12px;
}

h1 {
  margin-bottom: 15px;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;

  @media screen and (max-width: 770px) {
    font-size: 24px;
  }
}

.small-meta,
.meta {
  display: grid;
  grid-template-columns: min-content 1fr;

  img {
    border-radius: 50%;
    grid-row: span 2;
    margin-right: 15px;
  }

  .name {
    font-family: 'Roboto', sans-serif;
    grid-column: 2;
  }
}

.small-meta {
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  margin: 40px auto 20px;
  max-width: 650px;

  img {
    width: 50px;
    height: 50px;
  }

  .name {
    font-size: 14px;
    font-weight: 300;
  }

  .date {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #757575;
    grid-column: 2;
  }
}

.post-content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #202124;
  line-height: 26px;

  &::ng-deep {
    > p {
      max-width: 650px;
      margin: 0 auto 21px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 50px auto 15px;
      max-width: 650px;
      font-weight: 400;
    }

    .table-container {
      overflow-x: scroll;
      margin-bottom: 21px;
      white-space: nowrap;
      background: #f7f7f7;
      border-radius: 8px;
      padding: 10px;
      box-sizing: border-box;

      @media screen and (max-width: 1040px) {
        max-width: calc(100vw - 40px);
      }
    }

    table {
      border-collapse: collapse;
      width: 100% !important;
    }

    td,
    th {
      padding: 5px;
      border-right: 1px solid #dedede;

      &:last-child {
        border-right: 0;
      }
    }

    tr {
      border-bottom: 1px solid #dedede;

      &:last-child {
        border: 0;
      }
    }

    ul,
    ol {
      max-width: 650px;
      margin: 0 auto;
      list-style-position: outside;
    }

    > ul {
      margin-bottom: 21px;
    }

    li {
      margin-left: 20px;
    }

    li p {
      display: inline-block;
    }

    blockquote {
      background: #f8f8f8;
      border-radius: 8px;
      padding: 20px;
      max-width: 650px;
      margin: 0 auto 21px;
      font-style: italic;
      box-sizing: border-box;

      p ~ p {
        margin-top: 21px;
      }
    }

    img {
      width: 100% !important;
      height: 100% !important;
      border-radius: 8px;
    }
  }
}

.meta {
  border-top: 1px solid #efefef;
  padding-top: 20px;
  margin: 20px auto 0;
  grid-row-gap: 15px;
  max-width: 650px;

  img {
    width: 70px;
    height: 70px;
  }

  .name {
    font-size: 16px;
    font-weight: 400;
  }

  .description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    grid-column: 2;
  }
}
