<ng-container *ngIf="post$ | async as post">
  <div class="container">
    <div class="label-container">
      <verseghy-label *ngFor="let label of post?.labels" [label]="label"></verseghy-label>
    </div>
    <h1>{{ post?.title }}</h1>
    <div class="small-meta">
      <img *ngIf="post?.author.image" class="author-image" [src]="post?.author.image" [alt]="post?.author.name" />
      <p>
        <a class="name" [routerLink]="['/search', 'author', post?.author.id]">{{ post?.author.name }}&nbsp;</a>
        <span class="date"
          >Közzétéve: <time [dateTime]="formatDate(post?.date)">{{ formatDate(post?.date) }}</time></span
        >
      </p>
    </div>
    <img class="index-image" [src]="post?.indexImage" [alt]="post?.title" />
    <verseghy-page-renderer [data]="post?.content"></verseghy-page-renderer>
    <verseghy-slideshow
      #slideshow
      class="post-content slideshow"
      *ngIf="post.images.length"
      [height]="'475px'"
      [imageUrls]="post?.images"
      [autoPlay]="post?.images?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [lazyLoad]="post?.images?.length > 1"
      [hideOnNoSlides]="true"
      [backgroundSize]="'contain'"
      [showArrows]="true"
      [showDots]="false"
      [disableSwiping]="post?.images?.length < 2"
      [fullscreen]="fullscreen"
      (click2)="fullscreen = true"
      (fullscreenExit)="fullscreen = false"
    ></verseghy-slideshow>
  </div>
</ng-container>
