<div class="m-auto max-w-4xl space-y-10 my-10">
  <div class="flex justify-between">
    <verseghy-button (click)="createProblem()">Új feladat</verseghy-button>
    <ng-container *ngTemplateOutlet="paginationNumbers"></ng-container>
    <verseghy-button [outlined]="true" (click)="logout()">Kilépés</verseghy-button>
  </div>
  <div class="divide-y md:divide-none divide-gray-300 dark:divide-gray-700 space-y-10">
    <div
      *ngFor="let problem of paginated$ | async; trackBy: trackByFn"
      class="ring-gray-300 md:ring-1 md:rounded-md p-6 md:p-12 dark:ring-gray-700 space-y-8"
      [id]="'problem-' + problem.id"
    >
      <div class="flex justify-between items-center">
        <p class="font-black">{{ problem.id + 1 }}. feladat</p>
        <verseghy-button *ngIf="(length$ | async) === problem.id + 1" (click)="deleteProblem(problem)">törlés</verseghy-button>
      </div>
      <ng-katex-paragraph [paragraph]="problem.text" class="block"></ng-katex-paragraph>
      <label class="block">
        <textarea verseghyInput class="h-24" (input)="setText($event, problem)" (blur)="blurField($event, problem)" autocomplete="off">{{
          problem.text
        }}</textarea>
      </label>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="paginationNumbers"></ng-container>
</div>

<ng-template #paginationNumbers>
  <div class="flex justify-center space-x-4">
    <verseghy-button [disabled]="disablePrevPage$ | async" (click)="prevPage()">Előző</verseghy-button>
    <verseghy-button [disabled]="disableNextPage$ | async" (click)="nextPage()">Következő</verseghy-button>
  </div>
</ng-template>
