:host {
  margin: 0 auto;
  max-width: 1000px;
  display: block;
}

.competetion {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 32px 0 18px;
  border-radius: 8px;
  margin: 50px 20px;
  position: relative;
  background: #fff;
}

h1 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #202124;
  padding: 0 24px;
}

.timer {
  text-align: center;
  line-height: 48px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 7px;
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: 'Roboto';
}

.timer-inner {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.time {
  font-weight: 700;
}

.logout {
  top: 8px;
  right: 8px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .competetion {
    margin: 20px 7px;
  }
}