<div class="login">
  <img alt="" class="image" src="assets/images/logo.svg" /> <span class="logintext">Bejelentkezés</span>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form">
    <mdc-form-field class="loginInput">
      <mdc-text-field
        [helperText]="formHelperUsername"
        formControlName="username"
        label="Felhasználónév"
        minlength="3"
        outlined
        required
      ></mdc-text-field>
      <mdc-text-field-helper-text #formHelperUsername="mdcHelperText" validation>
        <span *ngIf="loginForm.controls['username'].hasError('required')">Felhasználónév kötelező</span>
        <span *ngIf="loginForm.controls['username'].hasError('minlength')">Felhasználónév nem elég hosszú</span>
      </mdc-text-field-helper-text>

      <mdc-text-field
        [helperText]="formHelperPassword"
        formControlName="password"
        label="Jelszó"
        minlength="3"
        outlined
        required
        type="password"
      ></mdc-text-field>
      <mdc-text-field-helper-text #formHelperPassword="mdcHelperText" validation>
        <span *ngIf="loginForm.controls['password'].hasError('required')">Jelszó kötelező</span>
        <span *ngIf="loginForm.controls['password'].hasError('minlength')">Jelszó nem elég hosszú</span>
      </mdc-text-field-helper-text>

      <button [disabled]="!loginForm.valid" class="button" mdc-button outlined primary type="submit">Bejelentkezés</button>
    </mdc-form-field>
  </form>
</div>
