<div class="m-auto max-w-md md:my-10 ring-gray-300 md:ring-1 rounded-md p-6 md:p-12 dark:ring-gray-700">
  <img class="w-28 mx-auto mb-8" src="/assets/images/logo.svg" alt="" />
  <h1 class="text-center mb-4">Bejelentkezés</h1>
  <h3 class="text-center mb-10">A 190 matematikaverseny oldalára</h3>
  <div
    *ngIf="(loginError$ | async)?.code"
    class="border-2 border-red-600 dark:border-red-400 p-6 rounded-md mb-10 text-red-600 dark:text-red-400"
  >
    {{ localizeLoginError(loginError$ | async) }}
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="mb-4 block">
      <span class="mb-1 block font-bold">Email cím</span>
      <input verseghyInput formControlName="email" />
      <ng-container *ngIf="form.controls['email'].touched">
        <span *ngIf="form.controls['email'].hasError('required')" class="text-red-600 dark:text-red-400 text-sm mt-1"
          >Email cím megadása kötelező</span
        >
        <span *ngIf="form.controls['email'].hasError('email')" class="text-red-600 dark:text-red-400 text-sm mt-1"
          >Email cím formátuma nem megfelelő</span
        >
      </ng-container>
    </label>
    <label class="mb-6 block">
      <span class="mb-1 block font-bold">Jelszó</span>
      <input verseghyInput type="password" formControlName="password" />
      <ng-container *ngIf="form.controls['password'].touched">
        <span *ngIf="form.controls['password'].hasError('required')" class="text-red-600 dark:text-red-400 text-sm mt-1"
          >Jelszó megadása kötelező</span
        >
      </ng-container>
    </label>
    <div class="flex justify-end mb-6">
      <a
        class="
          text-sm text-primary-600
          dark:text-primary-400
          font-bold
          focus:outline-none focus:ring-1
          ring-black
          dark:ring-white
          rounded-md
          px-1
        "
        [routerLink]="['/']"
        >Elfelejtetted a jelszavad?</a
      >
    </div>
    <verseghy-button [disabled]="!form.valid" class="block w-full">Bejelentkezés</verseghy-button>
    <div class="flex flex-row my-6">
      <span class="inline border-b border-gray-300 dark:border-gray-700 m-auto flex-grow flex-shrink mr-2"></span>
      <span class="text-sm text-center text-gray-500">Vagy Regisztráció</span>
      <span class="inline border-b border-gray-300 dark:border-gray-700 m-auto flex-grow flex-shrink ml-2"></span>
    </div>
    <verseghy-button class="block w-full" [outlined]="true">Regisztráció</verseghy-button>
  </form>
</div>
