<ng-container *ngIf="openHeader$ | async as openHeader">
  <header class="container" [@headerAnimation]="openHeader" role="banner">
    <button (click)="skipHeader()" class="skip-header">Tovább a fő tartalomhoz</button>
    <a class="right" [@headerAnimationRight]="openHeader" [routerLink]="'/'">
      <img alt="Verseghy logo" class="logo-image" src="assets/logo.svg" [@headerAnimationImage]="openHeader" />
      <div class="logo">
        <div class="logo-top">
          <h1 class="title" [@headerAnimationTitle]="openHeader">Verseghy</h1>
          <div class="title-suffix">
            <span class="web" [@headerAnimationWeb]="openHeader">WEB</span>
            <h1 class="title title-end" [@headerAnimationTitleEnd]="openHeader" [@headerAnimationTitle]="openHeader">
              &nbsp;Ferenc Gimnázium
            </h1>
          </div>
        </div>
        <div class="logo-bottom" [@headerAnimationLogoBottom]="openHeader">
          <span>Alapítva: 1831</span>
        </div>
      </div>
    </a>
    <div class="left">
      <i (click)="toggleDrawer()" tabindex="0" (keyup)="toggleDrawerKeyboard($event)" class="material-icons menu-toggle">menu</i>
    </div>
    <nav [ngClass]="{ open: (drawer$ | async) }" class="middle" role="navigation">
      <div class="menu-header">
        <i
          [tabindex]="navTabbable$ | async"
          (click)="toggleDrawer()"
          (keyup)="toggleDrawerKeyboard($event)"
          class="material-icons menu-close"
          >close</i
        >
      </div>
      <div class="search top" role="search">
        <i class="material-icons">search</i>
        <input
          aria-label="keresés"
          [tabindex]="navTabbable$ | async"
          type="text"
          placeholder="Keresés"
          (keyup)="search($event)"
          [(ngModel)]="searchTerm"
        />
      </div>
      <div class="menu">
        <a
          (click)="toggleDrawer()"
          [tabindex]="navTabbable$ | async"
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Főoldal</a
        >
      </div>
      <div class="menu">
        <a (click)="toggleDrawer()" [tabindex]="navTabbable$ | async" [routerLink]="'/information'" routerLinkActive="active"
          >Információk</a
        >
      </div>
      <div (click)="submenu1 = !submenu1" [ngClass]="{ open: submenu1 }" class="menu" routerLinkActive="active">
        <span>Menza</span> <i class="material-icons arrow">expand_more</i>
        <div class="submenu">
          <a (click)="toggleDrawer()" [tabindex]="navTabbable$ | async" [routerLink]="'/canteen'">Étlap</a>
          <a (click)="toggleDrawer()" [tabindex]="navTabbable$ | async" [routerLink]="'/pages/menza-tajekoztatok-nyilatkozatok'"
            >Tájékoztatók, nyilatkozatok</a
          >
          <a (click)="toggleDrawer()" [tabindex]="navTabbable$ | async" [routerLink]="'/pages/menza-ugyintezes-etkezes-lemondas'"
            >Ügyintézés, étkezés lemondás</a
          >
        </div>
      </div>
      <div class="menu TEMP-disabled-not-implemented-link">
        <a tabindex="-1" (click)="toggleDrawer()" [routerLink]="'/events'" routerLinkActive="active">Események</a>
      </div>
      <div class="menu new">
        <a (click)="toggleDrawer()" [routerLink]="'/misc/diaktoll'" routerLinkActive="active">Diáktoll</a>
        <div class="new-badge">Új</div>
      </div>
      <div class="menu ekreta">
        <a href="https://klik035992001.e-kreta.hu/Adminisztracio/Login" target="_blank" [tabindex]="navTabbable$ | async">
          <img alt="Kréta" src="assets/icons/kreta2.png" />
        </a>
      </div>
      <div class="search" role="search">
        <i class="material-icons">search</i>
        <input aria-label="keresés" type="text" placeholder="Keresés" (keyup)="search($event)" [(ngModel)]="searchTerm" />
      </div>
    </nav>
  </header>
</ng-container>
<div class="backdrop" (click)="toggleDrawer()" [ngClass]="{ open: (drawer$ | async) }" id="skip-header" tabindex="-1"></div>
