.history {
  max-width: 1200px;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin: 20px auto 0;

  box-sizing: border-box;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  padding: 40px 40px 48px;
}

.year {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
}
