.container {
  max-width: 1200px;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin: 20px auto 0;
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
  padding: 40px 40px 48px;
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
}


.year {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

  span {
    margin-top: 20px;
    font-size: 20px;
    display: block;
    margin-bottom: 3px;
  }
}