:host {
  padding: 0 20px;
  max-width: 1200px;
  margin: 20px auto 0;
  display: block;
}

.container {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 40px 40px 48px;
  box-sizing: border-box;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

.year {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

  span {
    margin-top: 20px;
    font-size: 20px;
    display: block;
    margin-bottom: 3px;
  }
}
