<div class="history">
  <h2>Iskolánk története</h2>

  <p class="year">1831</p>
  <p>
    Szolnok város polgárainak kérésére I. Ferenc király engedélyt adott egy nem nyilvános jogú, 6 osztályúvá fejleszthető gimnázium
    megnyitására. Az iskola ideiglenesen a ferences kolostorban működött. Első igazgatója az iskolaalapításában sok érdemet szerzett Dubecz
    Tamás volt.
  </p>
  <p class="year">1835</p>
  <p>
    A már öt osztállyal működő gimnázium a Templom út 10. szám alatt ma is álló, szép épületet kapta anyaépületül. Ennek átadását az egész
    város ünnepelte.
  </p>
  <p class="year">1844</p>
  <p>Az eddig nem nyilvános jogú iskola nyilvános jogú nagygimnáziummá lépett elő.</p>
  <p class="year">1848</p>
  <p>
    A szépen fejlődő tanintézet a szabadságharc alatt és az azt követő szomorú években nagy nehézségekkel küzdött. Tanulóifjúsága
    megcsappant, épületét a katonaság, majd hosszú időre hivatal és lakás céljára vette igénybe a megyefőnök.
  </p>
  <p class="year">1852</p>
  <p>Ez évtől a gimnázium tanítási munkáját főként anyagi okokból 10 éven át szüneteltették.</p>
  <p class="year">1862</p>
  <p>
    A város lakosságának sürgetésére az iskolát kisgimnáziumként újra megnyitották, de nyilvánossági jogot ismét csak 1867-ben kapott.
    1877-ben nyílt meg az V., majd a következő évben a VI. osztálya, és ezzel megint nagygimnáziummá lépett elő. Az 1863/64-es tanévben a
    nagyérdemű Vágó Ferenc, a branyiszkói hős volt az iskola igazgatója, aki a szabadságharc folyamán tizennegy ütközetben vett részt és
    Budavár visszafoglalásánál is vitzül harcolt.
  </p>
  <p class="year">1887</p>
  <p>Az iskolát államosították, elrendelték 8 osztályúvá fejlesztését, és egy új, kilenc tantermes épület emelését határozták el.</p>
  <p class="year">1888</p>
  <p>
    A város legszebb pontján emelt új épületben 8 osztállyal szeptemberben megkezdődött a tanítás. A régi vágy teljesült: érettségi vizsga
    tartására jogosított főgimnáziuma lett Szolnok városának. Az államosított iskola első igazgatója Rozsnyai Károly volt.
  </p>
  <p class="year">1889</p>
  <p>Intézetünkben ez év júniusában tartottak először érettségi vizsgát.</p>
  <p class="year">1890</p>
  <p>Iskolaépületünk udvarán emelt új tornacsarnokban megkezdődhetett a tornatanítás.</p>
  <p class="year">1914</p>
  <p>
    Iskolánk egyenletes fejlődését és a tanítás munkáját az első világháború kitörése és az azt követő háborús évek megzavarták. Épületét
    vagy épületrészét gyakran vették igénybe katonai célokra.
  </p>
  <p class="year">1919</p>
  <p>
    A január 24-én megtartott értekezleten a tanári kar állást foglalt az j demokratikus államrend mellett. Orosz György tanár, a
    tantestület tagja igen fontos szerepet töltött be a demokratikus államrendért folytatott harcban. Az 1919/20. tanévben megindult a
    rendszeresebb tanítási és tanulási munka.
  </p>
  <p class="year">1922</p>
  <p>A főgimnázium ez évben veszi fel a Verseghy Ferenc nevet.</p>
  <p class="year">1930</p>
  <p>
    Városunk kulturális életében a harmincas években nagy szerepet játszott iskolánk ifjúsága és tantestülete. Kiemelkedő tanárai voltak:
    dr. Balogh Béla, Betkowsky Jenő, Horváth Gyula és Vörös István.
  </p>
  <p class="year">1944</p>
  <p>
    A második világháború miatt a nehézszégekkel teli iskolai munkának hirtelen végeszakadt. Április 1-jén elrendelték a tanév befejezését,
    és épületét a német katonaság vette igénybe. Városunk novemberi felszabadulása után a szovjet városparancsnokság elrendelte az iskolai
    munka december 6-án történő megkezdését. Ötven tanulóval és hat tanárral nagyon szegényes körülmények között, idegen helyen, a Táncsics
    Mihály u. 10. sz alatt megindulhatott az iskolai élet.
  </p>
  <p class="year">1945</p>
  <p>
    A szovjet katonai parancsnokság április 12-én iskolépületünket a tanítás rendelkezésére bocsátotta. Az időközben megnövekedett létszámú
    tanulóifjúság és a tanári testület rendkívül lelkes munkával azt néhány hét alatt a tanítás céljaira alkalmassá tette. Végzős tanulóink
    júniusban már itthon ballaghattak, szeptemberben pedig kezdetét vehette a szabályoknak megfelelő iskolai munka.
  </p>
  <p class="year">1946</p>
  <p>
    Ez évtől öt éven át épületünk földszintjén a Mészáros Lőrinc Népi Kollégium kapott otthont, biztosítva ezzel sok tehetséges falusi
    fiatal továbbtanulását.
  </p>
  <p class="year">1952</p>
  <p>Az iskola nevét Nikosz Beloianisz Gimnáziumra változtatták.</p>
  <p class="year">1955</p>
  <p>
    Az iskola neve újra Verseghy Ferenc Gimnázium lett. Gyors ütemben indult meg intézetünk fejlődése: berendezése évről-évre
    korszerűsödött, szertárai gyarapodtak, tanulóifjúságának, tanárainak száma fokozatosan növekedett.
  </p>
  <p class="year">1968</p>
  <p>
    Az épületben lévő szolgálati lakások megszüntetésével gimnáziumunk 10 új helyiséggel bővült. Ezzel jelentősen javultak az
    oktatás-nevelés feltételei.
  </p>
  <p class="year">1970</p>
  <p>Ebben az évben volt iskolánk 140 éves története alatt a legnépesebb: 20 tanteremben 36 tanár 700 tanulót tanított.</p>
  <p class="year">1980</p>
  <p>
    Megkezdődött a csaknem 100 éves épület teljes felújítása. Új víz-, központi fűtés-, csatorna- és villanyhálózatot építettek, kicserélték
    a tetőszerkezetet, padlózatot, a vakolatot.
  </p>
  <p class="year">1987</p>
  <p>Az életveszélessé vált tornaterem helyén új tornacsarnok épült.</p>
  <p class="year">1995</p>
  <p>
    A számítástechnika-oktatás fejlődése megkövetelte a terembővítést. Az önkormányzat döntése alapján a Táncsics út 17. szám alatti épület
    az iskola használatába került.
  </p>
  <p class="year">1996</p>
  <p>A Csomor-ház átépítésével újabb tantermeket alakítottak ki, és megoldódott a tálalókonyha és az ebédlő kulturált elhelyezése.</p>
  <p class="year">2004</p>
  <p>Április 2-án az épület bejáratánál elhelyezték Pogány Gábor Benő szobrászművész Verseghy domborművét.</p>
</div>
