<div class="container">
  <h2>Iskolánk története</h2>

  <div class="year">
    <span>1831</span>
    <p>
      Szolnok város polgárainak kérésére I. Ferenc király engedélyt adott egy nem nyilvános jogú, 6 osztályúvá fejleszthető gimnázium
      megnyitására. Az iskola ideiglenesen a ferences kolostorban működött. Első igazgatója az iskolaalapításában sok érdemet szerzett
      Dubecz Tamás volt.
    </p>
  </div>
  <div class="year">
    <span>1835</span>
    <p>
      A már öt osztállyal működő gimnázium a Templom út 10. szám alatt ma is álló, szép épületet kapta anyaépületül. Ennek átadását az egész
      város ünnepelte.
    </p>
  </div>
  <div class="year">
    <span>1844</span>
    <p>Az eddig nem nyilvános jogú iskola nyilvános jogú nagygimnáziummá lépett elő.</p>
  </div>
  <div class="year">
    <span>1848</span>
    <p>
      A szépen fejlődő tanintézet a szabadságharc alatt és az azt követő szomorú években nagy nehézségekkel küzdött. Tanulóifjúsága
      megcsappant, épületét a katonaság, majd hosszú időre hivatal és lakás céljára vette igénybe a megyefőnök.
    </p>
  </div>
  <div class="year">
    <span>1852</span>
    <p>Ez évtől a gimnázium tanítási munkáját főként anyagi okokból 10 éven át szüneteltették.</p>
  </div>
  <div class="year">
    <span>1862</span>
    <p>
      A város lakosságának sürgetésére az iskolát kisgimnáziumként újra megnyitották, de nyilvánossági jogot ismét csak 1867-ben kapott.
      1877-ben nyílt meg az V., majd a következő évben a VI. osztálya, és ezzel megint nagygimnáziummá lépett elő. Az 1863/64-es tanévben a
      nagyérdemű Vágó Ferenc, a branyiszkói hős volt az iskola igazgatója, aki a szabadságharc folyamán tizennegy ütközetben vett részt és
      Budavár visszafoglalásánál is vitzül harcolt.
    </p>
  </div>
  <div class="year">
    <span>1887</span>
    <p>Az iskolát államosították, elrendelték 8 osztályúvá fejlesztését, és egy új, kilenc tantermes épület emelését határozták el.</p>
  </div>
  <div class="year">
    <span>1888</span>
    <p>
      A város legszebb pontján emelt új épületben 8 osztállyal szeptemberben megkezdődött a tanítás. A régi vágy teljesült: érettségi vizsga
      tartására jogosított főgimnáziuma lett Szolnok városának. Az államosított iskola első igazgatója Rozsnyai Károly volt.
    </p>
  </div>
  <div class="year">
    <span>1889</span>
    <p>Intézetünkben ez év júniusában tartottak először érettségi vizsgát.</p>
  </div>
  <div class="year">
    <span>1890</span>
    <p>Iskolaépületünk udvarán emelt új tornacsarnokban megkezdődhetett a tornatanítás.</p>
  </div>
  <div class="year">
    <span>1914</span>
    <p>
      Iskolánk egyenletes fejlődését és a tanítás munkáját az első világháború kitörése és az azt követő háborús évek megzavarták. Épületét
      vagy épületrészét gyakran vették igénybe katonai célokra.
    </p>
  </div>
  <div class="year">
    <span>1919</span>
    <p>
      A január 24-én megtartott értekezleten a tanári kar állást foglalt az j demokratikus államrend mellett. Orosz György tanár, a
      tantestület tagja igen fontos szerepet töltött be a demokratikus államrendért folytatott harcban. Az 1919/20. tanévben megindult a
      rendszeresebb tanítási és tanulási munka.
    </p>
  </div>
  <div class="year">
    <span>1922</span>
    <p>A főgimnázium ez évben veszi fel a Verseghy Ferenc nevet.</p>
  </div>
  <div class="year">
    <span>1930</span>
    <p>
      Városunk kulturális életében a harmincas években nagy szerepet játszott iskolánk ifjúsága és tantestülete. Kiemelkedő tanárai voltak:
      dr. Balogh Béla, Betkowsky Jenő, Horváth Gyula és Vörös István.
    </p>
  </div>
  <div class="year">
    <span>1944</span>
    <p>
      A második világháború miatt a nehézszégekkel teli iskolai munkának hirtelen végeszakadt. Április 1-jén elrendelték a tanév
      befejezését, és épületét a német katonaság vette igénybe. Városunk novemberi felszabadulása után a szovjet városparancsnokság
      elrendelte az iskolai munka december 6-án történő megkezdését. Ötven tanulóval és hat tanárral nagyon szegényes körülmények között,
      idegen helyen, a Táncsics Mihály u. 10. sz alatt megindulhatott az iskolai élet.
    </p>
  </div>
  <div class="year">
    <span>1945</span>
    <p>
      A szovjet katonai parancsnokság április 12-én iskolépületünket a tanítás rendelkezésére bocsátotta. Az időközben megnövekedett
      létszámú tanulóifjúság és a tanári testület rendkívül lelkes munkával azt néhány hét alatt a tanítás céljaira alkalmassá tette. Végzős
      tanulóink júniusban már itthon ballaghattak, szeptemberben pedig kezdetét vehette a szabályoknak megfelelő iskolai munka.
    </p>
  </div>
  <div class="year">
    <span>1946</span>
    <p>
      Ez évtől öt éven át épületünk földszintjén a Mészáros Lőrinc Népi Kollégium kapott otthont, biztosítva ezzel sok tehetséges falusi
      fiatal továbbtanulását.
    </p>
  </div>
  <div class="year">
    <span>1952</span>
    <p>Az iskola nevét Nikosz Beloianisz Gimnáziumra változtatták.</p>
  </div>
  <div class="year">
    <span>1955</span>
    <p>
      Az iskola neve újra Verseghy Ferenc Gimnázium lett. Gyors ütemben indult meg intézetünk fejlődése: berendezése évről-évre
      korszerűsödött, szertárai gyarapodtak, tanulóifjúságának, tanárainak száma fokozatosan növekedett.
    </p>
  </div>
  <div class="year">
    <span>1968</span>
    <p>
      Az épületben lévő szolgálati lakások megszüntetésével gimnáziumunk 10 új helyiséggel bővült. Ezzel jelentősen javultak az
      oktatás-nevelés feltételei.
    </p>
  </div>
  <div class="year">
    <span>1970</span>
    <p>Ebben az évben volt iskolánk 140 éves története alatt a legnépesebb: 20 tanteremben 36 tanár 700 tanulót tanított.</p>
  </div>
  <div class="year">
    <span>1980</span>
    <p>
      Megkezdődött a csaknem 100 éves épület teljes felújítása. Új víz-, központi fűtés-, csatorna- és villanyhálózatot építettek,
      kicserélték a tetőszerkezetet, padlózatot, a vakolatot.
    </p>
  </div>
  <div class="year">
    <span>1987</span>
    <p>Az életveszélessé vált tornaterem helyén új tornacsarnok épült.</p>
  </div>
  <div class="year">
    <span>1995</span>
    <p>
      A számítástechnika-oktatás fejlődése megkövetelte a terembővítést. Az önkormányzat döntése alapján a Táncsics út 17. szám alatti
      épület az iskola használatába került.
    </p>
  </div>
  <div class="year">
    <span>1996</span>
    <p>A Csomor-ház átépítésével újabb tantermeket alakítottak ki, és megoldódott a tálalókonyha és az ebédlő kulturált elhelyezése.</p>
  </div>
  <div class="year">
    <span>2004</span>
    <p>Április 2-án az épület bejáratánál elhelyezték Pogány Gábor Benő szobrászművész Verseghy domborművét.</p>
  </div>
  <div class="year">
    <span>2006</span>
    <p>
      Átalakították az épület pincéjét, helyet kapott benne a diákklub és az iskolarádió stúdiója, amivel lehetővé vált az iskolarádió
      újraindítása.
    </p>
  </div>
  <div class="year">
    <span>2011</span>
    <p>
      Ebben az évben került sor a főépület és a tornaterem külső arculati felújítására. Folytatódott a Csomor - ház megújítása is, egy
      modern rajztermet alakítottak ki az emelet Táncsics utcai frontján. Iskolánk rendezte meg a speciális matematika tagozatos iskolák
      országos találkozóját. Erre az alkalomra készült el Szabó Imrefia Béla Végtelen csomó című szobra.
    </p>
  </div>
  <div class="year">
    <span>2014</span>
    <p>
      Befejeződött a Csomor - ház felső szintjének építése. Csoportfoglalkozásokra alkalmas kisebb tornaterem, öltözők és egy tanácsterem
      kapott helyet az emeleten. Megújult az iskola dísztermében található könyvtár. A három oldalon elhelyezett, fából ácsolt karzat
      lehetővé teszi az egyre bővülő könyvállomány megfelelő elhelyezését. A folyamatosan megújuló bútorzat kellemes, kényelmes könyvtári
      tartózkodást biztosít.
    </p>
  </div>
</div>
