:host {
  max-width: 1200px;
  padding: 0 20px;
  margin: {
    top: 30px;
    right: auto;
    left: auto;
  }
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 250px;
}

.content {
  flex: 1;
}

h1 {
  font-size: 3.6rem;
  font-weight: 400;
  max-width: 650px;
  margin: 20px auto 30px;
  text-align: center;
}

.loader::ng-deep {
  .loader {
    width: 60px;
    height: auto;
    margin: 0 auto;

    .loader-inner div {
      background-color: #dedede;
    }
  }
}
