<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-icon-button *ngIf="isHandset" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span>Verseghy Gimnázium</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button><mat-icon>favorite_border</mat-icon></button>
      <button mat-icon-button><mat-icon>bookmark_border</mat-icon></button>
      <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>