<div class="container">
  <div class="content">
    <h2>Szabályzatok, alapdokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/tanev_rendje_2018_2019.pdf">2018/2019-es tanév rendje</a> <span>663.6 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/pedagogiai_program_2015.pdf">Pedagógiai program 2015</a> <span>1.1 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/pedagogiai_program_2016.pdf">Pedagógiai program 2016</a> <span>1.2 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/helyi_tanterv_2015.pdf">Helyi tantervek 2015</a> <span>4.7 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/szmsz.pdf">Szervezeti és működési szabályzat 2013</a> <span>1.0 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/hazirend2018.pdf">Házirend 2018</a> <span>889.8 kB</span>
    </div>
    <h2>További dokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kozszolgrend.pdf">Közösségi szolgálat rendje</a> <span>224.9 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/imip2007.pdf">Intézményi Minőségirányítási Program</a> <span>402.7 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/eselyegyenlosegi.pdf">Esélyegyenlőségi helyzetelemzés és intézkedési terv</a> <span>98.3 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/gyakornokiszabalyzat2015.pdf">Gyakornoki szabályzat</a> <span>620.6 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/osztalyozo_kerelem.doc">Iskolai formanyomtatvány az osztályozó vizsgához</a> <span>24.1 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2011.pdf">Különös közzétételi lista - 2011</a> <span>794.7 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2012.pdf">Különös közzétételi lista - 2012</a> <span>1.2 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2013.pdf">Különös közzétételi lista - 2013</a> <span>706.5 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2014.pdf">Különös közzétételi lista - 2014</a> <span>744.3 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2015.pdf">Különös közzétételi lista - 2015</a> <span>682.3 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2016.pdf">Különös közzétételi lista - 2016</a> <span>984.4 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2017.pdf">Különös közzétételi lista - 2017</a> <span>224.5 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/kulonos2018.pdf">Különös közzétételi lista - 2018</a> <span>1.1 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/igazolas_sportolok_reszere_2017_01.doc">Igazolás sportolók részére (a testnevelési órák kiváltásához)</a> <span>25.6 kB</span>
    </div>
    <h2>Érettségi vizsgához kapcsolódó dokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/info_kovetelmeny.pdf">Informatika: vizsgakövetelmény</a> <span>162.4 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/info_szobelitemak.pdf">Informatika: szóbeli témakörök</a> <span>114.7 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/tematika2011_idnyelv.pdf">Angol, német és orosz nyelv témakörök</a> <span>197.6 kB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/tematika_fizika_2018acd.pdf">Fizika témakörök - 2018</a> <span>1.2 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="/assets/modules/misc/components/documents/felv_valtozasok.pdf">Változások a felsőoktatási felvételi eljárás során 2011-től</a> <span>115.7 kB</span>
    </div>
  </div>
</div>
