:host {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  margin-top: 50px;
  text-align: center;

  h1 {
    font-size: 12.8rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 400;
  }

  a {
    margin: {
      top: 30px;
    }
    display: block;
  }
}
