a {
  display: block;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 30px;
  text-decoration: none;
  color: #000;

  &.high {
    background-color: hsl(0deg 100% 90%);
  }

  &.medium {
    background-color: hsl(54deg 100% 90%);
  }

  &.low {
    background-color: hsl(0deg 0% 90%);
  }

  &:last-child {
    margin-bottom: 30px;
  }
}