:host {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-gap: 30px;

  @media screen and (max-width: 972px) {
    grid-template-columns: 1fr;
  }
}

h1 {
  font-size: 48px;
  font-weight: 400;

  @media screen and (max-width: 972px) {
    font-size: 24px;
  }
}

p {
  margin-top: 30px;
  line-height: 24px;
}

img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;

  @media screen and (max-width: 972px) {
    height: 250px;
  }
}

.register {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  background: #009cff;
  margin-top: 30px;
  line-height: 32px;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
    background: #52bdff;
  }
}

