<div class="container">
  <div class="post">
    <div class="content">
      <div class="background">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/36029258_1952348851463890_4236921547433967616_n.jpg?_nc_cat=0&oh=4cb548593b3aefe071ef87d296cd1e3f&oe=5BB2DB52"
          alt="">
      </div>
      <div class="post-content">
        <div class="text">
          <div class="label-container">
            <span class="label" style="background-color: #a66bbe">Label1</span>
            <span class="label" style="background-color: #61c437">Label2</span>
          </div>
          <h2>Valami random cím</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat ex quis erat fermentum, non faucibus dolor
            sagittis. Cras egestas orci nisi, sed luctus mauris iaculis sit amet. Vestibulum pretium congue ante ac elementum</p>
          <div class="bottom">
            <img src="https://firebasestorage.googleapis.com/v0/b/vfghonlap-001.appspot.com/o/authors%2Fauth0.jpg?alt=media&token=7d1d2600-e72b-499f-be0e-4dd9bb2d190c"
              alt="" />
            <p>Author Neve</p>
            <p>5 napja</p>
          </div>
        </div>
      </div>
      <div class="hover"></div>
    </div>
  </div>
  <div class="nav">
    <i class="material-icons">navigate_before</i>
    <i class="material-icons">navigate_next</i>
  </div>
</div>