:host {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: block;
  overflow: hidden;
}

.container {
  height: 500px;
  width: 1500px;
  margin: 0 auto;
  position: relative;
}

.post {
  width: 100%;
  display: inline;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.background:before {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right,#000 0,rgba(0,0,0,0) 100%);
  width: 70%;
}

.background:after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left,#000 0,rgba(0,0,0,0) 100%);
  width: 70%;
}

.post-content {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 5;
  position: relative;
}

.text {
  max-width: 480px;
  margin-top: 60px;
  height: 440px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

h2 {
  font-family: 'Lato';
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}

.description {
  font-family: 'Cabin';
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.label-container {
  margin-bottom: 15px;
}

.label {
  font-family: 'Cabin';
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px 11px 4px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
  color: #000
}

.label.dark {
  color: #fff
}

.bottom {
  position: absolute;
  bottom: 69px;
  z-index: 100;
}

.bottom p {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Cabin';
  margin-left: 20px;
  font-size: 12px;
  color: #fff;
}

.bottom img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 992px){
  :host {
    height: 400px;
  }

  .container {
    height: 400px;
    width: 1200px;
  }
}

@media screen and (max-width: 576px){
  :host {
    height: 320px;
  }

  .container {
    height: 320px;
    width: 1500px;
  }
}