:host {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-weight: 400;
  margin-top: 30px;
  font-size: 2.4rem;

  @media screen and (max-width: 770px) {
    font-size: 2rem;
  }
}

span {
  margin-top: 20px;
  display: block;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
