<div class="container">
  <h1>Fejlesztők</h1>
  <div class="grid">
    <div class="author">
      <img alt="Baráth László" src="/assets/modules/misc/components/authors/01.jpg" />
      <h3 class="name">Baráth László</h3>
      <div class="links">
        <a href="https://github.com/Sasszem" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>
          GitHub
        </a>
        <a href="https://www.linkedin.com/in/bar%C3%A1th-l%C3%A1szl%C3%B3-6a1968169/" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="icon"></fa-icon>
          LinkedIn
        </a>
        <a href="https://profile.codersrank.io/user/Sasszem" target="_blank"
          ><img alt="CodersRank" class="icon" src="/assets/modules/misc/components/authors/cr.svg" />CodersRank</a
        >
        <a href="mailto:barath.laszlo.szolnok@gmail.com" target="_blank">
          <fa-icon [icon]="['fa', 'envelope']" class="icon"></fa-icon>
          barath.laszlo.szolnok@gmail.com
        </a>
      </div>
      <div class="description"><p>Main backend developer</p></div>
    </div>
    <div class="author">
      <img alt="Szepesi Zoltán" src="/assets/modules/misc/components/authors/00.jpg" />
      <h3 class="name">Szepesi Zoltán</h3>
      <div class="links">
        <a href="https://github.com/TwoDCube" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>
          GitHub</a
        >
        <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="icon"></fa-icon>
          LinkedIn</a
        >
        <a href="https://profile.codersrank.io/user/twodcube" target="_blank"
          ><img alt="CodersRank" class="icon" src="/assets/modules/misc/components/authors/cr.svg" />CodersRank</a
        >
        <a href="mailto:contact@zoltanszepesi.com" target="_blank">
          <fa-icon [icon]="['fa', 'envelope']" class="icon"></fa-icon>
          contact@zoltanszepesi.com
        </a>
      </div>
      <div class="description"><p>Founder of the Verseghy Open Source Projects. Leading the development since 2018.</p></div>
    </div>
  </div>
</div>
