<div class="container">
  <h1>Vezetőség</h1>
  <div class="grid">
    <div *ngFor="let _ of [1,2,3,4]" class="author">
      <img alt="" src="/assets/modules/misc/components/authors/00.jpeg">
      <h3 class="name">Szepesi Zoltán</h3>
      <div class="links">
        <a href="https://github.com/TwoDCube" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>
          GitHub</a>
        <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="icon"></fa-icon>
          LinkedIn</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
          non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
          urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
          sodales risus volutpat sollicitudin. </p>
      </div>
    </div>
  </div>
  <h1>Szerkesztők</h1>
  <div class="grid">
    <div *ngFor="let _ of [1,2]" class="author">
      <img alt="" src="/assets/modules/misc/components/authors/00.jpeg">
      <h3 class="name">Szepesi Zoltán</h3>
      <div class="links">
        <a href="https://github.com/TwoDCube" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>
          GitHub</a>
        <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="icon"></fa-icon>
          LinkedIn</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
          non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
          urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
          sodales risus volutpat sollicitudin. </p>
      </div>
    </div>
  </div>
  <h1>Fejlesztők</h1>
  <div class="grid">
    <div *ngFor="let _ of [1,2,3,4,5,6,7,8,9,10]" class="author">
      <img alt="" src="/assets/modules/misc/components/authors/00.jpeg">
      <h3 class="name">Szepesi Zoltán</h3>
      <div class="links">
        <a href="https://github.com/TwoDCube" target="_blank">
          <fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>
          GitHub</a>
        <a href="https://www.linkedin.com/in/zolt%C3%A1n-szepesi-6b3324169" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" class="icon"></fa-icon>
          LinkedIn</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
        <a href="" target="_blank"><img alt="" class="icon" src="/assets/modules/misc/components/authors/cr.svg">CodersRank</a>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla sollicitudin diam eget gravida. Duis
          non sagittis mi, aliquet aliquam neque. Curabitur rhoncus, eros nec convallis mollis, lectus tortor euismod
          urna, vel interdum massa lorem a lacus. Donec ac accumsan sem, in vehicula odio. Curabitur suscipit ligula
          sodales risus volutpat sollicitudin. </p>
      </div>
    </div>
  </div>
</div>
