@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  font-family: Cabin, serif;
  font-size: 16px;
}

.pacman > div:nth-child(1),
.pacman > div:nth-child(2) {
  border-top: 25px solid #e0e0e0 !important;
  border-left: 25px solid #e0e0e0 !important;
  border-bottom: 25px solid #e0e0e0 !important;
}

.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #e0e0e0 !important;
}
