@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.pacman > div:nth-child(1),
.pacman > div:nth-child(2) {
  border-top: 25px solid #e0e0e0 !important;
  border-left: 25px solid #e0e0e0 !important;
  border-bottom: 25px solid #e0e0e0 !important;
}

.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #e0e0e0 !important;
}

.ball-scale-ripple-multiple > div {
  border-color: #e0e0e0 !important;
}

.TEMP-disabled-not-implemented-link {
  opacity: 0.2;
  pointer-events: none;
}

/*a[href^='http']:not([href^='https://beta.verseghy-gimnazium.net']):after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: center;
  margin-left: 4px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJleHRlcm5hbC1saW5rLWFsdCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtZXh0ZXJuYWwtbGluay1hbHQgZmEtdy0xNiBmYS0yeCI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNNDMyLDMyMEg0MDBhMTYsMTYsMCwwLDAtMTYsMTZWNDQ4SDY0VjEyOEgyMDhhMTYsMTYsMCwwLDAsMTYtMTZWODBhMTYsMTYsMCwwLDAtMTYtMTZINDhBNDgsNDgsMCwwLDAsMCwxMTJWNDY0YTQ4LDQ4LDAsMCwwLDQ4LDQ4SDQwMGE0OCw0OCwwLDAsMCw0OC00OFYzMzZBMTYsMTYsMCwwLDAsNDMyLDMyMFpNNDg4LDBoLTEyOGMtMjEuMzcsMC0zMi4wNSwyNS45MS0xNyw0MWwzNS43MywzNS43M0wxMzUsMzIwLjM3YTI0LDI0LDAsMCwwLDAsMzRMMTU3LjY3LDM3N2EyNCwyNCwwLDAsMCwzNCwwTDQzNS4yOCwxMzMuMzIsNDcxLDE2OWMxNSwxNSw0MSw0LjUsNDEtMTdWMjRBMjQsMjQsMCwwLDAsNDg4LDBaIiBjbGFzcz0iIj48L3BhdGg+PC9zdmc+);
}*/

.no-absolute {
  .ng2-pdf-viewer-container {
    position: relative !important;
  }
}
