.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: calc(100vh - 64px);

  @media screen and (max-width: 992px) {
    height: calc(100vh - 56px);
  }
}

.content {
  padding: 20px 0;
  box-sizing: border-box;
  height: 100%;
}

.calendar {
  position: relative;
}

:host::ng-deep .now {
  @media screen and (max-width: 992px) {
    display: none;
  }
}
