<div class="container mat-typography">
  <h3 class="mat-display-1">Verseghy 189 Matekverseny</h3>
  <p>
    A Verseghy Ferenc Gimnázium matematika munkaközössége néhány végzős diákkal együtt matematika versenyt hirdet a gimnázium alapításának
    188. évfordulója alkalmából.
  </p>

  <p><strong>A verseny célja:</strong></p>
  <ul>
    <li>a matematika megszerettetése</li>
    <li>az iskolatársak jobb megismerése</li>
    <li>az együttes, csapatban gondolkodás megismertetése, kipróbálása</li>
    <li>közben egy kellemes délután eltöltése jó barátokkal</li>
  </ul>
  <p>
    A verseny leírása: internetes csapatverseny. A csapatok tagjai december 14-én pénteken délután 13 órától 17 óráig négy órányi időt
    kapnak arra, hogy egy általuk megválasztott kényelmes helyen (internet közelben) megoldhassanak 188 egyszerűnek, rövidnek tűnő
    gondolkodtató feladatot, élvezvén közben a gondolkodás örömét.
  </p>
  <p>
    Feltételek: Minden csapatban lennie kell minden (9-12.) évfolyamból legalább egy diáknak. Ajánlott létszám: 4-8 tanuló. A részvétel
    előtt a csapatnak az iskolánk honlapján az alábbi helyen regisztrálnia kell magát (a csapattagok neve és osztálya szükséges, továbbá az,
    hogy hol kíván versenyezni: az iskolában valamelyik osztályteremben, vagy otthon, bárhol másutt)
  </p>
  <p>
    A verseny menete: A verseny napján, 2018. december 14-én 13 órakor a kapott jelszó segítségével lesz megnyitható az az internetes
    felület, amelyről egyrészt olvasható a feladatok szövege, másrészt beírható a megoldás. Minden feladatnak csak a végeredményét kell
    beírni, ez minden esetben egy pozitív egész szám.
  </p>
  <p>
    A verseny díjazása: az első három helyezett csapatnak egy-egy torta, melynek mérete és a helyezés sorszáma között szigorúan monoton
    csökkenő kapcsolat áll fenn.
  </p>
  <p>A versenyhez jó szórakozást, az esetleges tortához jó étvágyat kíván gimnáziumunk matematika munkaközössége!</p>
  <button mat-raised-button color="primary" class="button" [routerLink]="['/login']">Tovább</button>
</div>
