@import "breakpoints";

:host {
  display: grid;
  min-height: 100vh;
  grid-template-rows: minmax(64px, 1fr) max-content minmax(64px, 1fr);

  @include respond-below(xs) {
    grid-template-rows: 1fr;
  }
}

.container {
  grid-row: 2;
  width: 512px;
  height: min-content;
  margin: 0 auto;
  border: 1px solid #DADCE0;
  border-radius: 8px;
  padding: 40px;

  @include respond-below(xs) {
    grid-row: 1;
    width: 100%;
    border: none;
    border-radius: unset;
  }
}

p {
  margin-bottom: 16px
}

ul {
  list-style-position: inside;
  margin-bottom: 16px;

  li {
    margin-bottom: 6px;
  }
}

button {
  margin-top: 6px
}

h3 {
  text-align: center;
  margin-bottom: 16px
}
