<div class="container mdc-typography">
  <h3 mdcHeadline5>Verseghy 189 Matekverseny</h3>
  <p><strong>Az oldal használata:</strong></p>
  <p>
    A csapattagok a csapatvezetőtől kapott emailcímmel és jelszóval jelentkezhetnek be az oldalra.
    Erről a csapatvezetők a verseny napján emailben kapnak értesítést.
  </p>
  <p>
    A beírt megoldások a csapattagok között automatikusan szinkronizálódnak.
    A megoldás akkor tekinthető beírtnak, ha a felső sorban a feladathoz tartozó négyzet zöldre vált.
    Kérjük a kevésbé stabil internettel rendelkezőknek, hogy különös figyelemmel legyenek erre.
    Ha sehogysem vált zöldre a négyzet egy megoldás megadása után, kérjük próbáld meg újratölteni az oldalt.
    Ha ez sem működik kérjük a csapatvezetőnek kiküldött emailben lévő csatornákon vegyék fel a szerverzőkkel a kapcsolatot.
  </p>
  <p>
    Az OLED kijelzővel rendelkező felhasználóknak ajánljuk a sötét téma használatát, mivel ez nagy mértékben csökkenti az akkumulátorhasználatot.
    Ez a beállítás az alább található kapcsolóval állítható. A verseny időtartama alatt bármikor ki és be kapcsolható ezen az oldalon.
  </p>

  <div class="flex-container">
    <mdc-form-field>
      <label>Sötét téma</label>
      <mdc-switch [(ngModel)]="darkValue"> </mdc-switch>
    </mdc-form-field>

    <button mdc-button raised class="button" [routerLink]="['/login']">Tovább</button>
  </div>
</div>
