:host {
  flex: 1;
  margin-top: 94px;
  display: block;

  @media screen and (max-width: 992px) {
    margin-top: 0;
  }
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 30px auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;

  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.load-more-wrapper {
  display: flex;
}

.load-more {
  display: block;
  padding: 10px 20px;
  margin: 32px auto;
  border-radius: 3px;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  background: #ebebeb;

  &:hover {
    background: #d9d9d9;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #000;
  }
}

.skeleton-card {
  background: #efefef;
  animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;

  .image-placeholder {
    height: 200px;
    background: #e6e6e6;
  }

  .content-placeholder {
    padding: 10px 20px;
  }

  .text-skeleton {
    background: #e6e6e6;
    height: 15px;
    border-radius: 4px;
    margin: 7px 0;

    &.inline {
      display: inline-block;
      width: 170px;
      margin-left: 20px;
      margin-top: 22px;
      vertical-align: middle;
    }
  }

  .circle {
    height: 50px;
    width: 50px;
    background: #e6e6e6;
    border-radius: 50%;
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}

@keyframes skeleton-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
