:host {
  flex: 1;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.load-more-wrapper {
  display: flex;
}

.load-more {
  display: inline-block;
  margin: 32px auto;
  font-weight: bold;
  text-transform: uppercase;
}
