<div class="container">
  <div class="content">
    <h2>Szabályzatok, alapdokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Pedagógai program 2015.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Pedagógai program 2016.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Helyi tantervek 2015.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Szervezési és működési szabályzat 2013.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Házirend 2018.pdf</a>
      <span>999 MB</span>
    </div>
    <h2>Érettségi vizsgákhoz kapcsolódó dokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Informatika vizsgakövetelmény + szóbeli témakörök.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Idegenynyelvi szóbeli témakörök (angol, német, orosz).pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Fizika témakörök 2017- 2018.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Testnevelés témakörök.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Változások a felsőoktatási felvételi eljárás során.pdf</a>
      <span>999 MB</span>
    </div>
    <h2>További dokumentumok</h2>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Közösségi szolgálat rendje 2013.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Intézményi minőségirányítási program 2007.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Esélyegyenlőségi helyzetelemzés és intézkedési terv.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Gyakornoki szabályzat 2015.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Osztályozó vizsgára jelentkezés módja.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Iskolai formanyomtatvány osztályozó vizsgákhoz.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2011.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2012.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2013.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2014.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2015.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2016.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Különös közzétételi lista 2017.pdf</a>
      <span>999 MB</span>
    </div>
    <div class="row">
      <fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
      <a href="">Igazolás sportolók részére (a testnevelés óra kiváltására).pdf</a>
      <span>999 MB</span>
    </div>
  </div>
</div>