.container {
  max-width: 1200px;
  padding: 50px 20px 0 20px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 25px;
}

mat-expansion-panel-header {
  -webkit-tap-highlight-color: transparent;
}

.row {
  min-height: 36px;
  border-bottom: 1px solid #ccc;
  display: block;
  text-decoration: none;
  color: #000;

  &:last-child {
    border: none;
  }

  .title {
    font-weight: 700;
    margin-top: 10px;
  }

  .description {
    margin: 10px 0;
  }
}

verseghy-loaders {
  transform: translateX(25px);
  display: block;
  margin-bottom: 70px;
}

.error {
  text-align: center;
}
